@charset "UTF-8";
@-webkit-keyframes contrast {
  0% {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    color: #eeeded;
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: #eeeded;
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: black;
  }
  100% {
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
    color: black;
  }
}
@keyframes contrast {
  0% {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    color: #eeeded;
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: #eeeded;
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: black;
  }
  100% {
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
    color: black;
  }
}

@-webkit-keyframes sizes {
  0% {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    font-size: 15px;
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    font-size: 70px;
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    font-size: 70px;
  }
}

@keyframes sizes {
  0% {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    font-size: 15px;
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    font-size: 70px;
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    font-size: 70px;
  }
}

@-webkit-keyframes alt {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 100%;
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0%;
  }
  75% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    font-size: 70px;
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    font-size: 70px;
    opacity: 0%;
  }
}

@keyframes alt {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 100%;
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0%;
  }
  75% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    font-size: 70px;
    opacity: 0%;
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    font-size: 70px;
    opacity: 0%;
  }
}

@-webkit-keyframes alt-after {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0%;
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0%;
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 50%;
  }
  75% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
    opacity: 100%;
  }
}

@keyframes alt-after {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0%;
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0%;
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 50%;
  }
  75% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
    opacity: 100%;
  }
}

@-webkit-keyframes semantik {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
}

@keyframes semantik {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
}

@-webkit-keyframes responsive {
  0% {
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  75% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

@keyframes responsive {
  0% {
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
  }
  25% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  75% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

* {
  margin: 0px;
}

.wrapper {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper .background {
  position: absolute;
  width: 100%;
  height: 347px;
  z-index: -999;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.wrapper header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper header .logo h1 {
  color: white;
  font-size: 35px;
}

@media screen and (min-width: 600px) {
  .wrapper header .logo {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-left: 0px;
  }
}

.wrapper header nav {
  position: absolute;
  top: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.wrapper header nav ul {
  list-style: none;
}

.wrapper header nav ul li {
  margin: 40px;
  -webkit-transition: 200ms;
  transition: 200ms;
  opacity: 0;
  font-size: 25px;
}

.wrapper header nav ul li a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 600px) {
  .wrapper header nav {
    position: relative;
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 0%;
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .wrapper header nav ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper header nav ul li {
    margin: 0px 20px;
    opacity: 1;
  }
}

.wrapper header nav.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 600px) {
  .wrapper header nav.active {
    background: transparent;
  }
}

.wrapper header nav.active ul li {
  opacity: 1;
}

.wrapper header .hamburger-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 20px;
  padding: 20px;
  cursor: pointer;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .wrapper header .hamburger-menu {
    display: none;
  }
}

.wrapper header .hamburger-menu span {
  position: absolute;
  height: 5px;
  width: 80%;
  background: white;
  display: inline-block;
  border-radius: 5px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.wrapper header .hamburger-menu span:nth-child(1) {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.wrapper header .hamburger-menu span:nth-child(3) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.wrapper header .hamburger-menu.active span:nth-child(1) {
  -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
}

.wrapper header .hamburger-menu.active span:nth-child(2) {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
}

.wrapper header .hamburger-menu.active span:nth-child(3) {
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
}

.wrapper .margin {
  margin-top: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .margin .meaning {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.wrapper .margin .banner {
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.wrapper .margin .banner .img-banner {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .margin .banner::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 100%;
  height: 90%;
  -webkit-transform: translateX(50px) translateY(-90%);
          transform: translateX(50px) translateY(-90%);
  background: rgba(34, 196, 28, 0.8);
  display: block;
  border-radius: 20px 0px 0px 20px;
  z-index: -1;
}

.wrapper section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 5% 0%;
}

.wrapper section article {
  margin: 20px;
}

@media screen and (min-width: 600px) {
  .wrapper section article {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

.wrapper section div {
  margin: 20px;
}

@media screen and (min-width: 600px) {
  .wrapper section div {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

.wrapper section .animation .animationBtn {
  cursor: pointer;
  padding: 20px 40px;
  border: none;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(34, 196, 28, 0.8)), to(rgba(26, 100, 23, 0.8)));
  background: linear-gradient(to right, rgba(34, 196, 28, 0.8), rgba(26, 100, 23, 0.8));
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
}

.wrapper section .animation .animation-ex {
  opacity: 0;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .wrapper section .animation .animation-ex {
    height: 300px;
    width: 300px;
  }
}

.wrapper section .animation .animation-ex.active {
  opacity: 100%;
  position: relative;
  height: 300px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.wrapper section .animation .animation-ex.active .contrast {
  position: absolute;
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
  -webkit-animation: contrast linear;
          animation: contrast linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  font-size: 70px;
  color: lightgrey;
}

.wrapper section .animation .animation-ex.active .size {
  position: absolute;
  font-size: 15px;
  color: black;
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
  -webkit-animation: sizes linear;
          animation: sizes linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.wrapper section .animation .animation-ex.active .alt {
  position: absolute;
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
  -webkit-animation: alt linear;
          animation: alt linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.wrapper section .animation .animation-ex.active::after {
  content: "Symboler för tillgänglighet";
  position: absolute;
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
  -webkit-animation: alt-after linear;
          animation: alt-after linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  font-size: 45px;
}

.wrapper section .animation .animation-ex.active .semantik {
  position: absolute;
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
  -webkit-animation: semantik linear;
          animation: semantik linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 45px;
}

.wrapper section .animation .animation-ex.active .semantik p {
  margin: 5px;
}

.wrapper section .animation .animation-ex.active .responsive {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(550px);
          transform: translateX(550px);
  -webkit-animation: responsive linear;
          animation: responsive linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.wrapper section .animation .animation-ex.active .responsive .red {
  background: red;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.wrapper section .animation .animation-ex.active .responsive .blue {
  background: blue;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.wrapper section .animation .animation-ex.active .responsive .green {
  background: green;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
  width: 100%;
  margin: 0px;
}

@media screen and (min-width: 600px) {
  .wrapper section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */